.popup__form-save-button {
  display: flex;
  align-self: center;
  justify-content: space-around;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  background-color: black;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  margin-bottom: 37px;
}

.popup__form-save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 560px) {
  .popup__form-save-button {
    width: 238px;
    height: 48px;
    margin-bottom: 25px;
  }
  
}