.popup__text-input-container {
  display: flex;
  align-self: center;
  justify-content: start;
  flex-direction: column;
  margin-bottom: 15px;
}

.popup__text-input-container:last-of-type {
  margin-bottom: 45px;
}