.header__logo {
  display: flex;
  align-self: flex-start;
  width: 142px;
  aspect-ratio: 71 / 16;
  padding-bottom: 41px;
}

@media screen and (max-width: 500px) {
  .header__logo {
    width: 104px;
    padding-bottom: 32px;
  }
  
}
/* 
@media screen and (max-width: 320px) {
  .header__logo {
    width: 104px;
    
  }
  
} */