.popup__form-title {
  padding-top: 34px;
  padding-bottom: 48px;
  padding-left: 36px;
  padding-right: 64px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

@media screen and (max-width: 560px) {
  .popup__form-title {
    font-size: 18px;
    line-height: 22px;
    padding-left: 22px;
    padding-right: 22px;

  }  
}