.profile__container {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 846px) {
  .profile__container {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 33px;
  }  
}