.footer {
  display: flex;
  align-self: center;
  width: 880px;
  padding-bottom: 60px;
  padding-top: 66px;
}

@media screen and (max-width: 900px) {
  .footer {
    width: 67.45%;

  }
}

@media screen and (max-width: 500px) {
  .footer {
    width: 282px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
  
}