.profile__name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 39px;
  line-height: 48px;
  color: white;
  margin-right: 18px;
}

@media screen and (max-width: 1279px) {
  .profile__name {
    font-size: calc(27px + (39 - 27) * ((100vw - 320px) / (1279 - 320)));
    line-height: calc(33px + (48 - 33) * ((100vw - 320px) / (1279 - 320)));
    margin-right: 0;
  }
  
}