.popup__invalid {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  font-family: 'Inter', sans-serif;
  color: red;
  visibility: hidden;
  width: 358px;
  min-height: 30px;
}

@media screen and (max-width: 560px) {
  .popup__invalid {
    width: 238px;
  }

}