.profile__description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-top: 16px;
  color: #FFFFFF;
  max-width: 336px;

}

@media screen and (max-width: 880px) {
  .profile__description {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (880 - 320)));
    line-height: calc(18px + (22 - 18) * ((100vw - 320px) / (880 - 320)));
    max-width: 282px;
  }
  
}